$white: #fff;
$primaryColor: rgba( 20, 62,213,1);
$secondaryColor: rgba( 93,120,220,1);
$thirdColor: rgba( 55, 90,215,1);
$darkerColor: rgba( 11, 44,167,1);
$darkestColor: rgba(  8, 34,129,1) ;

$hackerColor: #149414;