@import './variables';
* {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
}

h2 {
    font-size: 2rem;
    color: $primaryColor;
}

h3 {
    color: $primaryColor;
}

h4 {
    color: $secondaryColor;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    color: $white;
    height: 75px;
    background-color: $darkerColor;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    background-color: $darkerColor !important;
    font-weight: bold;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-link {
    color: $white !important;
}

.logo-img {
    height: 40px;
    margin-left: 15px;
    margin-right: 40px;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    align-content: center;
}

.navbar-links a {
    color: $white;
    text-decoration: none;
}

// FOOTER 
#page-container {
    position: relative;
    // min-height: 85vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    width: 100%;
    background-color: $darkerColor;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around; 
    align-items: center;         
  }

  .footer-img {
      background: $darkerColor;
      max-width: 250px;
      max-height: 80px;
  }

  .footer-img-mono {
      max-width: 250px;
      max-height: 70px;
    }

  // Presentation
  .container-presentation {
  background: url('/presentation-background.png') no-repeat;
  background-size: cover;
  background-color: #F3F3F3;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  height: 100vh;
  }

.text-presentation {
    font-family: 'Roboto Mono', monospace !important;
    color: $white !important;
    font-weight: 100;
    font-size: 28px;
    color: white;
    margin-top: 10vh;
}

.dud {
    color: $secondaryColor;
}

// my cv
.my-cv-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 25px;
    color: $darkerColor;
    background-color: #F3F3F3;
    background-size: contain;
}

.education-container {
    width: 350px;
}

.work-container {
    width: 350px;
}

.education-work-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.first-logo-container {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first-logo-container img {
    max-width: 250px;
}

.first-logo-container img:first-child {
    max-height: 200px;
}

.first-logo-container img:last-child {
    max-width: 300px;
    max-height: 200px;
}

.second-img-logo {
    max-width: 300px;
    max-height: 200px;
}

.second-logo-container {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.second-logo-container img {
    max-width: 200px;
}

.second-logo-container img:last-child {
    max-width: 200px;
    max-height: 200px;
    margin-right: 50px;
}

.list-group-item {
    border: 1px solid $secondaryColor !important;
}

.view-full-cv-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

// projects section container
.projects-section-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #F3F3F3;
}

.projects-cards-container {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-card-container {
    background: black;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}

//Whatsapp
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.i-float {
    margin-top: 16px;
}

//Curriculum 

.curriculum-header {
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}

.curriculum-p {
    color: $primaryColor;
    cursor: pointer;
}

.curriculum-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.curriculum-logos {
    height: 15px;
}

.curriculum-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

.icon-curriculum {
    height: 20px;
}

.curriculum-education-title {
    display: flex;
}

.curriculum-content-first-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.curriculum-content-second-line {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

//skills

.skills-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 375px;
}

.skills-content button {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 110px;
}

//Contact

.contact-container{
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 12%;
}

.form-button {
    float: right;
}

.toast {
    position: absolute;
    right: 0;
}

//projects

.card-project{
    width: 90%;
    height: 400px;
   background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,245,248,1) 35%, rgba(236,236,237,1) 100%);
    box-shadow: 0 13px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 30px;
    transition: background-color .5s, box-shadow .5s, margin-left .5s;
  }
  .card-project:hover{
    margin-left: 8%;
    background-color: #ffff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    transition: background-color .5s, box-shadow .5s, margin-left .5s;
  }
  .card-project-right{
    width: 90%;
    height: 350px;
   background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,245,248,1) 35%, rgba(236,236,237,1) 100%);
    box-shadow: 0 13px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-left: 8%;
    margin-top: 30px;
    transition: background-color .5s, box-shadow .5s, margin-left .5s;
  }
  .card-project-right:hover{
    margin-left: 5%;
    background-color: #ffff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    transition: background-color .5s, box-shadow .5s, margin-left .5s;
  }
  .post-image-project{
    width: 200px;
    height: 220px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px 10px 10px;
    float: left;
  }
  .post-content-project{
    width: 55%;
    height: 100%;
    float: left;
    margin-left: 5px;
    overflow: hidden;
  }

  .post-header-project{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    color: #3B3C3F;
    margin-left: 10px;
    text-align: center;
  }
  .post-text-project{
    font-size: 15px;
    padding-left: 20px;
    color: #768CA4;
    font-family: 'Roboto', sans-serif;
    
  }

  .author{
    width: 100%;
    height: 60px;
    /*background-color: #E4E6EB;*/
    background-color: #F2F5F8;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 10px;
    
  }

  .author-image{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
  }

  .container-project {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .projects-list-options {
      padding-left: 20px;
  }